{
    "singleQuote": true,
    "trailingComma": "none",
    "endOfLine": "auto",
    "tabWidth": 2,
    "semi": true,
    "useTabs": false,
    "bracketSpacing": true,
    "printWidth": 120,
    "importOrder": [
        "^react",
        "^antd$",
        "^@ant-design",
        "^config/(.*)$",
        "^context/(.*)$",
        "^modules/(.*)$",
        "^features/(.*)$",
        "^api/(.*)$",
        "^utils",
        "^hooks$",
        "^hooks/(.*)$",
        "^components/(.*)$",
        "^moment$",
        "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}