:root{
    --c-blue: #1346A8;
    --blue-strong:#17223A;
    --c-orange:#FE7A30;
    --c-gray: #FFFFFF33;
    --c-silver: #788399;
    --c-cian:#3DD0FF;
    --c-yellow:#F2C94C;
}
*, ::after, ::before{
    box-sizing: border-box;
}
body{
    background-color: #FDFDFE;
}
.pl-5{
    padding-left: 3rem !important;
}
.pr-5{
    padding-right: 3rem !important;
}
.pl-4{
    padding-left: 1.5rem !important;
}
.pr-4{
    padding-right: 1.5rem !important;
}
.pl-3{
    padding-left: 1rem !important;
}
.pr-3{
    padding-right: 1rem !important;
}
.mt-3{
    margin-top: 1rem !important;
}
.mb-3{
    margin-bottom: 1rem !important;
}
.ml-3{
    margin-left: 1rem !important;
}
.mr-3{
    margin-right: 1rem !important;
}
.mt-4{
    margin-top: 1.5rem !important;
}
.mb-4{
    margin-top: 1.5rem !important;
}
.mt-5{
    margin-top: 3rem !important;
}
.mb-5{
    margin-bottom: 3rem !important;
}
.mtn-2{
    margin-top: -5%;
}
.align-center{
    align-items: center;
}
.font-weight-bold{
    font-weight: bold;
}
.text-cian{
    color: var(--c-cian);
}
.text-blue{
    color: var(--c-blue);
}
.text-gray{
    color:gray;
}
.text-silver{
    color: var(--c-silver);
}
.text-yellow{
    color:var(--c-yellow);
}
.text-orange{
    color: var(--c-orange);
}
.text-justify{
    text-align: justify;
}
@media(min-width:640px)
{
    .fsize-xl{
        font-size: 4em;
    }
    .fsize-md{
        font-size: 3em;
    }
    .fsize-sm{
        font-size: 1.2em;
    }
    .section{
        margin: 100px 0;
    }
    .flex-desk{
        display: flex;
    }
}
@media(max-width:640px)
{
    .fsize-xl{
        font-size: 2em;
    }
    .fsize-md{
        font-size: 1.5em;
    }
    .fsize-sm{
        font-size: 1em;
    }
    .section{
        margin: 60px 0;
    }
    .none-mobile{
        display: none;
    }
}

.without-list{
    list-style: none;
}
.text-left{
    text-align: left;
}
.fsize-mds{
    font-size: 2em;
}
.fsize-15{
    font-size: 1.5em !important;
}

.fsize-xs{
    font-size: 0.9em;
}
.ls2{
    letter-spacing:2px;
}

.bor-y-r-5{
    border-radius: 0 5px 5px 0;
}
.btn-white-contac{
    background-color: white;
    border-radius: 5px;
}
.btn-white-contac:hover{
    background-color: white;
    animation: btnFlotante 3s infinite;
    position: relative;
}

/*       key frames     */

@keyframes btnFlotante{
    0% { top: -5px;}
    50%{ top: -15px;}     
    100%{top: -5px;}
}
@keyframes elementUp{
    0%   {top:400px;}  
    100% {top:0px;}
}

.elementup{
    animation-name: elementUp;
    animation-duration: 1s;
    position: relative;
}
/*       end key frames     */

@media(min-width:640px){
    .azul-nav{
        background-color: var(--c-blue);
        color:white;
        padding: 3px 80px;
    }
    .nav-mobile{
        display: none;
    }
}
@media(max-width:640px)
{
    .azul-nav, .transparent-nav, .transparent-nav-blue{
        display: none !important;
    }
    .nav-mobile{
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        background-color: transparent;
    }
    .nav-mobile-blue{
        display: flex;
        flex-wrap: wrap;
        background-color: var(--c-blue);
        position: fixed;
        z-index:10;
        top: 0;
        width: 100%;
    }
}


.text-white-menu, .text-white-menu:hover{
    color: white;
    font-size: 14px;
}
.text-white-menu-lg{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.text-white-menu-lg:hover{
    color: var(--c-cian);
}
.text-orange-menu{
    color: var(--c-silver);
    text-decoration: none;
    font-weight: bold;
}
.text-orange-menu:active, .text-orange-menu:hover{
    color: var(--c-orange);
}

.transparent-nav{
    background-color: transparent;
    padding: 20px 80px;
    border-bottom: solid 1px var(--c-gray);
}
.transparent-nav-blue{
    background-color: var(--c-blue);
    padding: 20px 80px;
    border-bottom: solid 1px var(--c-gray);
    position: fixed;
    z-index:10;
    top: 0;
    width: 100%;
}
.back-orange{
    background-color: var(--c-orange);
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 15px;
}
@media(min-width:640px)
{
    .btn-outline-white{
        background-color: transparent;
        border-radius: 5px;
        border-color: white;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        
    }
    .btn-outline-white:hover{
        background-color: transparent;
        color: white;
        border-radius: 5px;
        border-color: white;
        position: relative;
        animation: btnFlotante 3s infinite;
    }
}
@media(max-width:640px)
{
    .btn-outline-white{
        background-color: transparent;
        border-radius: 5px;
        border-color: white;
        font-weight: bold;
        color: white;
        font-size: 1.1em;
        padding: 3%;        
    }
    .sub-menu-hide{
        width: 100%;
        background-color: white;
    }
}
.nav-mobile-hide{
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    padding: 3% 5% 0;    
    list-style: none;
}
.br-bt-gray{
    border-bottom: 1px solid var(--c-gray);
}
.back-footer{
    background-color: var(--blue-strong);
}
.none-list{
    list-style: none;
    padding: 0;
}
.div-angule{
    transform: rotate(180deg);
    top: -1px;
    overflow: hidden;
    position: relative;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.angule-blue{
    height: 50px;
    z-index: -1;
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    
}


/*      CSS PARA ICONS        */

.icon-cian{    
    background-color: var(--c-cian);
    border-radius: 100% 100% 100% 100%;
    padding: 23px 18px 23px 18px;
    display: flex;
    flex-wrap: wrap;
    width: 73px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.icon-orange{
    background-color: var(--c-orange);
    border-radius: 100% 100% 100% 100%;
    padding: 14px 16px 14px 16px;
    width: 68px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: -25px;
}
.line-sm-blue{
    width: 60px;
    height: 3px;
    background-color: var(--c-blue);
}
.line-sm-white{
    width: 60px;
    height: 3px;
    background-color: white;
}
.line-sm-orange{
    width: 60px;
    height: 3px;
    background-color: var(--c-orange);
}
.line-md-orange{
    width: 100px;
    height: 3px;
    background-color: var(--c-orange);
}
.card-white{
    border-radius: 5px;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}
.card-img{
    border-radius: 5px;
    background-image: url(/img/assets/bg-card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 100%;
}
.card-img-blue{
    background-color: rgba(19,70,168,0.6);
    border-radius: 5px;
    width: 100%;
    height: 100%;    
    padding: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
}
@media(min-width:640px)
{
    .services-back{
        background-image: url(/img/assets/service1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 410px;
        border-radius: 5px;        
    }
    .p-why{
        padding:5% 0 5% 3%;
    }
    .m-mobile-4{
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}
@media(max-width:640px)
{
    .services-back{
        background-image: url(/img/assets/service1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 275px;
        border-radius: 5px;
    }
    .p-why{
        padding:5% 0 5% 7%;
    }
    .m-mobile-4{
        margin: 1.5rem auto !important;
    }
}
/*      CSS PARA BUSCADOR        */

.box-buscador{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    background-color: rgba(109, 124, 144, 0.7);
}

.box-selector{
    background-color: white;
    padding: 5px;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

.btn-naranja{
    background-color: var(--c-orange);
    color: white;
    font-weight: bold;
}
.btn-naranja:hover{
    background-color: var(--c-orange);
    color: white;
    font-weight: bold;
    position: relative;
    animation: btnFlotante 3s infinite;
}
.btn-orange, .btn-orange:hover{
    background-color: var(--c-orange);
    color: white;
}
/*      CSS PARA PAGINA DE INICIO        */
@media(min-width:640px)
{
    .div-principal{
        align-items:center;
        padding-left:80px;
    }
    .footer-extend{
        display: flex;
    }
    .footer-extend-2{
        display: none;
    }
}
@media(max-width:640px)
{
    .div-principal{
        margin-bottom: 50px;
    }
    .footer-extend{
        display: none;
    }
}
.layer-home{
    height: 850px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.back-slider-home{
    background-image: url(/img/banners/hero-home.jpg);
    z-index: -10;
}
.back-slider-home:before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}
.back-slider-about:before, .back-slider-detail-trip:before, .back-slider-thanks:before{
    content:'';
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
    height: 500px;
}
.layer-about{
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.back-slider-detail-trip{
    background-image: url(/img/banners/tripdetail.jpg);
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
}
.back-slider-about{
    background-image: url(/img/banners/about.jpg);
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;    
}
.back-slider-thanks{
    background-image: url(/img/banners/gracias.jpg);
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;    
}
@media(min-width:640px)
{
    .banner-driver{
        background-image: url(/img/banners/driver.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position-x: 107%;
    }
    .img-driver-mobile{
        display: none;
    }
}
@media(max-width:640px)
{
    .back-home-mobile{
        background-image: url(/img/banners/hero-home.jpg);
        background-repeat: no-repeat;
        z-index: -10;
        padding: 25px 5px;
    }    
    .img-driver-mobile{
        width: 100%;
    }
}
.degradate-black{
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(19,70,168,0.4));    
}
.banner-bus{
    background-image: url(/img/banners/why-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-lineal{
    background-image: url(/img/banners/bg-ourbus.png);
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -100;
    height: 100%;    
}

.bg-blue{    
    height: 128%;    
    width: 100%;
    background-color: rgba(19,70,168,0.9);
    z-index: -10;
}
.divider{
    border-top: 1px solid var(--c-gray);
    width: 100%;
    margin: 25px 0 10px;
}
.card-bus{
    border-radius: 5px;
    background-color: white;
}
.bus-banner{
    margin-top: -50px;
    width: 100%;
}
.card-destination{
    width: 95%;
    border-radius: 5px;
    margin: 0 auto;
    background-color: white;
}
.img-destination{
    
    height: 300px;
    border-radius: 5px;
    
}
.bg-destination{
    background-image: url(/img/banners/bg-destinations.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 250px;
}
.bg-testimonials{
    background-image: url(/img/banners/bg-testi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-zona-hotelera{
    background-image: url(/img/banners/traslados-cancun.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-zona-hotelera-shadow{    
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}


.box-shadow-info{    
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 20px;

}
@media(min-width:640px)
{
    .logo-home-circle{
        max-width:100px;
    }
    .logo-home{
        max-width: 250px;
    }    
}
@media(max-width:640px)
{
    .logo-home-circle{
        max-width:60px;
    }
    .logo-home{
        max-width: 160px;
    }
    
}
.img-person{
    max-width: 100%;
}
/* @media(min-width:920px)
{
}
@media(max-width:920px)
{
    .img-person{
        max-width: 215px;
    }
} */

.over-hiden{
    overflow: hidden;
}
.card-black{
    background-color: black;
    border-radius: 5px;
    width: 300px;
    height: 300px;
}
.icon-orange{
    background-color: var(--c-orange);
    border-radius: 50%;
    width: 60px;
}
.invert-white{
    width: 100%;
    filter: invert(1);
}
.listOptionsLocations{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    list-style: none;
    padding: 0;
    width: 33%;
}
.listOptionsLocations > li{
    padding: 7px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: bold;
}
.triangule-blue{
    width: 0;
    height: 0;
    border-left: calc(89vw - 89vh) solid transparent;
    border-right: calc(89vw - 89vh) solid transparent;
    border-bottom: 6vh solid var(--blue-strong);
}